# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Netbeans project files
Makefile
/src/nbproject/
/src/.dep.inc
/src/build/
/src/dist/
